<header class='header flex-container'>
  <div class="logo">
    <h1 class="title">Color to Emotions</h1>
  </div>
  <nav class='main-nav'>
    <a href="/signup" class='link-button'>Sign Up</a>
    <a href="/login" class='link-button'>Log In</a>
    <a href="/search" class='link-button'>Color Search</a>
  </nav>
</header>
