<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Home</title>
  <link rel="stylesheet" href="style.css">
  <script src="scripts.js" type="text/javascript" charset="utf-8" async defer></script>
</head>
<body>

  <h1>Works!</h1>
  <form action='show' method='POST'>
    <textarea name='main' rows='6' columns='100'></textarea>
    <button type='submit'>Show input</button>
  </form>
</body>
</html>
