<header class='header flex-container'>
    <div class="logo">
      <h1 class="title">Color to Emotions</h1>
    </div>
    <nav class='main-nav flex-container'>
      <a href="/signup" class='link-button'>Sign Up</a>
      <a href="/login" class='link-button'>Log In</a>
      <form action='/auth?_method=DELETE' method='POST'><button type='submit' class='link-button'>Log Out</button></form>
      <a href="/search" class='link-button'>Color Search</a>
    </nav>
  </header>
