<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>Login</title>
    <%- include('../snippets/common') %>
  </head>
  <body>

    <%- include('../snippets/header', {
      user: user,
    }) %>
    <div class ='main-container flex-container'>
      <div class='credentials-container'>
        <form class='credentials-form' action='/auth' method='post'>
          <h2 class='sub-heading'>Login</h2>
          <input type='text' name='username' value='' placeholder='Username' class='credential' autofocus>
          <input type='password' name='password' value='' placeholder='Password' class='credential'>
          <button type='submit' class='credential'>Login!</button>
        </form>
      </div>
    </div>

  </body>
</html>
