<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Search</title>
  <%- include('../snippets/common') %>
</head>
<body>

<%- include('../snippets/header', {
  user: user,
}) %>

    <form action='/results' method='POST' class='flex-container search-container' id='search-submit'>
      <p id='message-box'>Press CTRL + ENTER to submit!</p>
      <textarea name='main' class='big-text' placeholder='Enter text here!' autofocus></textarea>
      <button type='submit' class='search-submit'>Analyze Text</button>
    </form>
</body>
</html>

